{% extends "base.html" %}
{% load static %}

{% block title %}Каталог смартфонов{% endblock %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h3><a href="/catalog">Каталог смартфонов</a></h3>
        </div>

        <div class="space-place">
            <br>
        </div>

        <div class="sort-block">
            <table>
                <tr>
                    <td>Сортировать по:</td>
                    <td><a href="/catalog?sort=name">&nbspназванию&nbsp</a></td>
                    <td><a href="/catalog?sort=min_price">&nbspвозрастании цены&nbsp</a></td>
                    <td><a href="/catalog?sort=max_price">&nbspубыванию цены&nbsp</a></td>
                </tr>
            </table>
        </div>

        <div class="space-place">
            <br>
        </div>

        <div class="content">
            <table width="80%">
                <tr>
                    {% for phone in phones %}

                    <td width="33%">
                        <div align="center">
                             <a href="/catalog/{{phone.slug}}"><img src="{{ phone.image }}" height="300"></a>
                        </div>

                        <h6 align="center"><a href="/catalog/{{phone.slug}}">{{ phone.name }}</a></h6>
                        <h6 align="center">Стоимость: {{ phone.price }}</h6>
                    </td>
                {% if forloop.counter|divisibleby:"3" %}
                </tr>
                <tr>
                {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}