{% extends "base.html" %}
{% load static %}

{% block title %}{{ phone.name }}{% endblock %}
{% block content %}
    <div class="back-link" align="right">
        <a href="{% url 'catalog'%}">&nbsp в каталог &nbsp</a>
    </div>

    <div class="container">
        <div class= "phone-name" align="center">
            <h3>{{ phone.name }}</h3>
        </div>

        <div class="content">
            <table align="center">
                <tr align="center">
                    <td>
                        <img src="{{ phone.image }}" height="400">
                        <h6>Стоимость: {{ phone.price }}</h6>
                        <h6>Дата выхода: {{ phone.release_date }}</h6>
                        <h6>Наличие LTE:
                            {% if phone.lte_exists %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </h6>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}